RewriteEngine On

#ocultar archivos desde el navegador
Options All -Indexes

#regla para poder usar url amigable


#error 404
ErrorDocument 404 http://localhost/Proyecto%20logical/Logical/vista/error/404

#regla para ocultar la extensión .html,php etc.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html