#lateral {

    border: 1px solid red;
    border-radius: 500px;
    height: 200px;
    width: 250px;
    /* background-image: url(../img/user.png); */


}

#fecha {

    text-align: left;
}

.contenedor {

    background-color: #7297bd;
    text-align: center;

}

/* .buscar{

   margin-left: 900px;
    width: 200px;
} */
body {

    background-color: #82b9f0;
}

.sidebar {

    background-color: #39434d;
    height: 210px;
    width: 100%;
    opacity: 0.6;
    margin: 10px;
    padding: 10px;

}

.cargo {

    color: white;
    font-size: 40px;
}


.cargo-superior {

    background-color: #252729;
    padding: 10px;

}

.ingreso {

    text-align: center;
    font-size: 40px;
    color: rgb(32, 117, 117)
}


.padre {

    padding-right: 100px;

}

.centro {


    padding: 100px;
}

.contenedor {

    overflow: auto;

}