#lateral{
    
    border: 1px solid red;
    border-radius: 500px;
    height: 200px;
    width: 250px;
    background-image: url(../img/user.png);

}

#fecha{

    text-align: left;
}

.contenedor{

    background-color: #7297bd;
    text-align: center;

}
.buscar{

   margin-left: 900px;
    width: 200px;
}
.medio{


}